In [4]:
import seaborn as sns
import pandas as pd
df=sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
q25= df['orbital_period'].quantile(0.25)
q75= df['orbital_period'].quantile(0.75)
iqr = q75-q25

In [6]:
minimum = q25-iqr*1.5
maximum = q75+iqr*1.5

In [13]:
df_outlier= df[(df['orbital_period']<=minimum) | (df['orbital_period']>=maximum)]

print(f"{df_outlier['orbital_period'].sum()}")

1818772.582